*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    padding: 30px;
    border-radius: 20px;
}

.card img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.texsts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.texsts h2{
    color: white;
}

.texsts h4{
    color: hsl(75, 94%, 57%);
}

.texsts p{
    color: hsl(0, 0%, 50%);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.buttons button{
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.buttons button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}






@media (max-width: 375px){
    .card{
        padding: 20px;
    }

    .buttons button{
        width: 220px;
    }
}